extends layout

block content
    .container
        if !isMyWall
            h1 Tweets from #{user.name}
            if isFollowed
                form(method="post", action='unfollow', accept-charset="utf-8")
                    button(type='submit').btn.btn-danger Unfollow
                    input(type="hidden", name="userId", value='' + user._id)
            else
                form(method="post", action='follow', accept-charset="utf-8")
                    button(type='submit').btn.btn-success Follow
                    input(type="hidden", name="userId", value='' + user._id)
        else
            h1 My posts
    .container
        .tweet-box
            - each tweet in tweets
                .col-md-12.tweet-msg
                    .col-md-8
                        b
                            a(href='/feeds/' + user._id) #{user.name}
                        <br>
                        b.tweet #{tweet.content}
                    .col-md-4
                        b.msg-date #{tweet.prettyCreatedAt}
    if isMyWall
        .container.tweet-form
            .col-md-6.col-md-offset-3
                if err
                    label.lbl-error #{err}
                form(method="post", action="/feeds/add", accept-charset="utf-8")
                    textarea(rows='3', name='content').form-control
                    button(type='submit').btn.btn-primary.btn-send-tweet Send

